Package: com.be-huge.insulation
Name: insulation
Version: 0.0.1
Architecture: iphoneos-arm
Description: 解除温控，不一定所有机型生效，代码已开源：https://github.com/be-huge/insulation
Maintainer: be-huge
Author: be-huge
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
