<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lock CPU Frequency via Thermal Control</string>
			<key>footerText</key>
			<string>Since the true maximum CPU frequency cannot be read from hardware, you need to enter the frequency yourself. Then restart the userspace or reinstall the tweak for it to take effect. (It is not recommended to enter values that are too low or too high; fill in a reasonable range according to the CPU, otherwise there may be risks.)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.be-huge.insulation-prefs</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>isURL</key>
			<string>false</string>
			<key>isNumeric</key>
			<string>true</string>
			<key>isIP</key>
			<string>true</string>
			<key>key</key>
			<string>cpuMinPowerValue</string>
			<key>placeholder</key>
			<string>Only numbers are supported, otherwise it will not take effect.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reduce Frequency (Simulate)</string>
			<key>footerText</key>
			<string>I’m not really sure what this feature is for, but since you want it, let’s add it.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>nominal</string>
			<key>defaults</key>
			<string>com.be-huge.insulation-prefs</string>
			<key>key</key>
			<string>thermalPuppetValue</string>
			<key>validValues</key>
			<array>
				<string>nominal</string>
				<string>light</string>
				<string>moderate</string>
				<string>heavy</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light</string>
				<string>Moderate</string>
				<string>Heavy</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>Insulation</string>
</dict>
</plist>